body {
  background-color: antiquewhite;
}

.navcontainer {
  background-color: #333;
  align-items: end;
  width: 100%;
}

nav {
  align-items: end;
  overflow: hidden;
}

ul {
  /* float: right; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


li {
  padding-right: 10px;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.FirstName{
  color:white;
  text-align: start;
}


.content {
  padding: 20px;
}

.dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #111;
}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #111;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 16px;
  justify-content: center;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction:row;
  /* flex-wrap: wrap; */
  
  
  
}

.card1,
.card2,
.card3 {
	
  background-size: cover;
  background-position: center;
  margin: 10px;
  border: none;
  outline: none;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  width: 20vw;
  border-radius: 30px;
  
}

.card1 {
  background-image: url('post.jpeg');
  height: 30vh;
}
.popup{
  position:absolute;
  top:0%;
}

.card2 {
  background-image: url('action.png');
  height:30vh;
}
.card3 {
  background-image: url('viewjobs.png');
  background-size:cover;
  height:30vh;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 600px) {
  .container {
      flex-direction: row;
      
      
  }

  
}
.popup {
  display: none;
  position: fixed;
  top: calc(50% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 9999;
  width: 80%;
  max-width: 1000px;
  max-height: calc(100% - 100px); 
  overflow-y: auto; 
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}



.jobpost {
  display: flex;
  flex-direction: column;
 
}

form {
  padding: 10px;
  margin: 0;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"] {
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

input[type="submit"]:hover {
  background-color: #0056b3;
  

}
.close-btn{
  background-color: #007bff;
  height: 40px;
  width:70px;
  border-radius: 7px;
  color: white;
}
.Actions {
  display: none;
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 9999;
  width: 80%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
}

.jobactions {
  display: flex;
  flex-direction: column;
 
}
.close-btn:hover{
  background-color:#0056b3 ;

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
   }

   .subdiv{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
   }
   #post{
    color: #007bff;
   }
   #action{
    color: #007bff;
    
   }
   #jobs{
    color: #007bff;
   }
   .hand-icon {
    cursor:pointer;
    font-size: 24px;
   }
   .modal-content{
   border-radius:20px;}




